<!-- amp ads @ https://github.com/ampproject/amphtml/blob/master/ads/README.md -->
<section class="ad amazon">
  <amp-ad width="300"
          height="250"
          type="a9"
          data-aax_size="300x250"
          data-aax_pubname="test123"
          data-aax_src="302"
          layout="responsive">
    <div placeholder>
      <!-- <div class="alignleft"> -->
        <script type="text/javascript">
          amzn_assoc_ad_type = "banner";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_placement = "assoc_banner_placement_default";
          amzn_assoc_campaigns = "primemain";
          amzn_assoc_banner_type = "category";
          amzn_assoc_p = "12";
          amzn_assoc_isresponsive = "false";
          amzn_assoc_banner_id = "1N7QZYHSKNC8P06S6QG2";
          amzn_assoc_width = "300";
          amzn_assoc_height = "250";
          amzn_assoc_tracking_id = "mcclure-20";
          amzn_assoc_linkid = "068c6c9b80462abaa8dae6b21e31e291";
          </script>
        <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1">
          </script>
        <!-- </div> -->
      </div>
    </amp-ad>
  </section>
