<form method="post"
      action-xhr="https://ampbyexample.com/components/amp-form/submit-form-input-text-xhr">
    <input type="text"
        class="data-input"
        name="name"
        placeholder="Name..."
        required>
    <input type="email"
        class="data-input"
        name="email"
        placeholder="Email..."
        required>
    <input type="submit"
        value="Subscribe"
        class="button button-primary">
    <div submit-success>
      <template type="amp-mustache">
        Success! Thanks {{name}} for trying the
        <code>amp-form</code> demo! Try to insert the word "error" as a name input in the form to see how
        <code>amp-form</code> handles errors.
      </template>
    </div>
    <div submit-error>
      <template type="amp-mustache">
        Error! Thanks {{name}} for trying the
        <code>amp-form</code> demo with an error response.
      </template>
    </div>
  </form>
