#tabs.tabs
  nav
    ul
      li
        a.icon-shop(href='#section-1')
          span Shop
      | &#x9;&#x9;&#x9;
      li
        a.icon-cup(href='#section-2')
          span Drinks
      | &#x9;&#x9;&#x9;
      li
        a.icon-food(href='#section-3')
          span Food
      | &#x9;&#x9;&#x9;
      li
        a.icon-lab(href='#section-4')
          span Lab
      | &#x9;&#x9;&#x9;
      li
        a.icon-truck(href='#section-5')
          span Order
  | &#x9;
  .content
    section#section-1
      .mediabox
        img(src='img/01.png', alt='img01')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Sushi Gumbo Beetroot
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/02.png', alt='img02')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Pea Sprouts Fava Soup
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/03.png', alt='img03')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Turnip Broccoli Sashimi
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.
    | &#x9;&#x9;
    section#section-2
      .mediabox
        img(src='img/04.png', alt='img04')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Asparagus Cucumber Cake
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki bean gourd.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/05.png', alt='img05')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Magis Kohlrabi Gourd
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/06.png', alt='img06')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Ricebean Rutabaga
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori.
    | &#x9;&#x9;
    section#section-3
      .mediabox
        img(src='img/02.png', alt='img02')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Noodle Curry
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.Sushi gumbo beet greens corn soko endive gumbo gourd.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/06.png', alt='img06')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Leek Wasabi
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Sushi gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/01.png', alt='img01')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Green Tofu Wrap
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut wasabi tofu broccoli mixture soup.
    | &#x9;&#x9;
    section#section-4
      .mediabox
        img(src='img/03.png', alt='img03')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Tomato Cucumber Curd
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Chickweed okra pea winter purslane coriander yarrow sweet pepper radish garlic brussels sprout groundnut summer purslane earthnut pea tomato spring onion azuki bean gourd.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/01.png', alt='img01')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Mushroom Green
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot squash brussels sprout chard.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/04.png', alt='img04')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Swiss Celery Chard
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori.
    | &#x9;&#x9;
    section#section-5
      .mediabox
        img(src='img/02.png', alt='img02')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Radish Tomato
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Catsear cauliflower garbanzo yarrow salsify chicory garlic bell pepper napa cabbage lettuce tomato kale arugula melon sierra leone bologi rutabaga tigernut.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/06.png', alt='img06')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Fennel Wasabi
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Sea lettuce gumbo grape kale kombu cauliflower salsify kohlrabi okra sea lettuce broccoli celery lotus root carrot winter purslane turnip greens garlic.
      | &#x9;&#x9;&#x9;
      .mediabox
        img(src='img/01.png', alt='img01')
        | &#x9;&#x9;&#x9;&#x9;
        h3 Red Tofu Wrap
        | &#x9;&#x9;&#x9;&#x9;
        p
          | Green horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut wasabi tofu broccoli mixture soup.
  // /content
// /tabs
script(src='js/cbpFWTabs.js')
script.
  new CBPFWTabs( document.getElementById( 'tabs' ) );
