        .content-wrapper
            .nav-menu nav
                Ul
                    Li
                        a.icon-about(href='#about')
                            Span about
                    | &#x9;&#x9;&#x9;
                    Li
                        a.icon-contact(href='#contact')
                            Span contact
                    | &#x9;&#x9;&#x9;
                    Li
                        a.icon-blog(href='#blog')
                            Span blog
                    | &#x9;&#x9;&#x9;
                    Li
                        a.icon-works(href='#works')
                            Span works
                    | &#x9;&#x9;&#x9;
                    Li
                        a.icon-search(href='#search')
                            Span search
            | &#x9;
            
            section.blog
                h3 recent thoughts
                article.posts
            
            Section.infographics
                h3 recent works
                
