header 
	.logo Jake McClure
	h1.text Jake McClure

nav
	.menu
		Ul
			Li: a(href="#about") about
			Li: a(href="#about") thoughts
			Li: a(href="#about") works
	.connect
		.box.f
		.box.i
		.box.t
	.search