header
	.header-position
		h1.text Jake McClure
		|
		nav.site-nav
			ul
				li
					a(href='#about') about
				|
				li
					a(href='#thoughts') thoughts
				|
				li
					a(href='#works') works
				|
				li
					a(href='#contact') contact
				|
		h5.cred design + development - jake himself
