mixin nav-content()
  ul
    li: a(href="#storytelling") Thoughts
    //li: a(href="#notes") Notes
    //li: a(href="#podcast") Podcast
    li: a(href="#portfolio") Portfolio
    li: a(href="#about") About
    //li: a(href="#youtube") YouTube
    li: a(href="#contact") Contact
    //li: a(href="#articles") Thoughts
    //li: a(href="#vine") Vine

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Jake McClure  .net
    
    nav.site-nav
      +nav-content()
    
    a(href="http://twitter.com/jake_mcclure").email-link +connect on twitter
    
    .mobile-nav-toggle: span
