header
    .logo
    h1.JM Jake McClure  .net
    nav
        Ul
            li: about
            li: a(href="http://twitter.com/jake_mcclure").email-link +connect on twitter
            li: thoughts
            li: works
