.example
  .example-page.example-layout
    
    header
      h2 JM .net
      .JM-box

    .content
      .col-1 Content
      .col-2 Sidebar
      .col-3 Utility
    footer
      .navbtn
      .search-group
        input(type="text" placeholder="Search")
        input(type="submit")

.example
  h2 Media Object
  
  .example-page.example-media
    
    .media
      img(src="http://fillmurray.com/50/50")
      .content Lorem ipsum dolor sit amet, consectetur adipisicing elit.
   
    hr
    

   
        
  
  
  
  
  
  
  
  
  
  
  
  
  
  
