.nav nav
    Ul
        Li
            a.icon-about(href='#about')
                Span about
        | &#x9;&#x9;&#x9;
        Li
            a.icon-contact(href='#contact')
                Span contact
        | &#x9;&#x9;&#x9;
        Li
            a.icon-blog(href='#blog')
                Span blog
        | &#x9;&#x9;&#x9;
        Li
            a.icon-works(href='#works')
                Span works
        | &#x9;&#x9;&#x9;
        Li
            a.icon-search(href='#search')
                Span search
| &#x9;
.content
    Section#about
    | &#x9;&#x9;
    Section#contact
    | &#x9;&#x9;
    Section#blog
    | &#x9;&#x9;
    Section#works
    | &#x9;&#x9;

script(src='js/contenttabs.js')
script.
new contenttabs( document.getElementById( 'tabs' ) );
