.site-wrapper
	header
		.logo
		.JM-text Jake McClure .net
	.menu
		ul.sidebar
			li thoughts
			li works
		.search-group
			input(type="text" placeholder="Search")
			input(type="submit")
	
	.site-section-wrapper
		section.section.about
			P physician | healthcare tech futurist | storyteller
			P homebase: chattanooga TN
			P present: charlotte

		section.section.blog 
			.section.header recent thoughts
			article
				.date 2016 | 25 apr
				.title You can't have innovative healthcare using PCs running Windows XP
				.category Filed under: friction
				.content 
					P True statements: I have used XP within the last 12 months. I have used ms-dos within the past 3 yrs.

			article
				.date 2016 | 26 apr
				.title Let the horses go
				.category Filed under: leverage
				.content 
					P Healthcare will make the transition only if it loosens its reins.
					P Caution: cloud security & cyberhacking. It was only a matter of time. Especially when a sizeable portion of hospital staff browse fbook while on the job. Candy crush: not just a game for hypoglycemics.

		section.section.infographics 
			.section.header recent works
			.infog
				img(src="http://fillmurray.com/320/400")

		footer.section
			.section.header "see one  |  do one  |  teach one"
				P if you found this interesting or learned something valuable, please pay it forward and share with a friend, family member, colleague or complete stranger you're sitting by at the coffee shop.
			.connect
				.box.f
					a(href="http://facebook.com") facebook
				.box.t
					a(href="http://twitter.com") twitter
				.box.i
					a(href="http://instagram.com") instagram
