---
layout: default
---
<main class="content" role="main">

  <header class="blog-header">
      <!-- <h1 class="blog-title">{{ site.title }}</h1> -->
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>

  <nav id="bottom" class="nav-bar">
    <ul class="social nav-bar">
      {% if include.username %}
      <li><amp-social-share type="twitter"
        width="3em"
        height="3em">
        </amp-social-share>
        </li>

        <a href="https://twitter.com/{{ include.username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">{{ include.username }}</span></a>
      {% else %}
      <span class="icon icon--twitter">{% include icon-twitter.svg %}</span>
      {% endif %}
      <li class="social-nav"><a class="social-nav" href="/">y</a></li>
      <li class="social-nav"><a class="social-nav" href="/">m</a></li>
      <li class="social-nav"><a class="social-nav" href="/">f</a></li>
      <li class="social-nav"><a class="social-nav" href="/">s</a></li>
      <li class="social-nav"><a class="social-nav" href="/">i</a></li>
      <li class="social-nav"><a class="social-nav" href="/">a</a></li>
    </ul>
  </nav>

  {% include _twitter-featured.html %}

  {% include posts-index.html %}

  {% include _twitter.html %}  

</main>

{% include footer.html %}
