---
layout: amp-default
Title: bits 2 Bedside
---
<section id="about">
    {% include _twitter-featured.html %}

  <h2 class="site-description">{{ site.site-description }}</h2>
  <h3 class="JM-tagline">Buy the ticket. Take the ride.</h3>

  {% include _twitter-follow.html %}

  <span class="logo">
    <amp-img class="amp-logo"
      src="{{ site.baseurl }}{{ site.logo }}"
      width=449 height=364
      layout="responsive">
      </amp-img>
    </span>
  <nav class="site-nav">
    <ul>
      <li><a href="{{ site.baseurl }}/blog/">blog</a></li>
      <li><a href="{{ site.baseurl }}/coming-soon/">graphics</a></li>
      <li><a class="contact" href="{{ site.url }}/about/">contact</a></li>
      <li><a href="">for patients</a></li>
      <li><a href="">for providers</a></li>
      </ul>
    </nav>

  </section>

<section id="blog-loop">
  <header class="blog-header">
    <span href="{{ site.baseurl }}/blog/" class="logo">
      <amp-img class="amp-logo"
        src="{{ site.baseurl }}{{ site.blog-header }}"
        width=1125 height=300
        layout="responsive">
        </amp-img>
      </span>
    <!-- <h1 class="blog-title">{{ site.blog-title }}</h1> -->
    <!-- <h2 class="blog-description">{{ site.blog-description }}</h2> -->
    </header>
  <main class="content" role="main">
    {% include posts-index.html %}
    </main>
  </section>

{% include footer.html %}
