---
layout: default
title: Jake McClure  .net
---
<div class="home-wrap">

  {% include about.html %}
  {% include blognav.html %}

  <!--
  <div class="home-sections">
      <div id="containter.posts">
        <h1>Blog Posts</h1>
        <ul class="posts">
         {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

    {% include section-about.html %}
    {% include section-youtube.html %}
    {% comment %}{% include section-mentoring.html %}{% endcomment %}
    {% include section-articles.html %}
    {% include section-vine.html %}
    {% include section-design.html %}
    {% include section-notes.html %}
    {% include section-podcast.html %}
    {% include section-footer.html %}
-->
  </div>
</div>
