.outer-container
  @include outer-container(100%)
  color: $nuzzel-bg
  margin: 0 auto
  padding: 0

#index-sections-nav
  $base-line-height: 1.7em
  $base-spacing: 2em
  $action-color: $slack
  $dark-gray: #333
  $large-screen: 42em
  $base-font-color: $slack

  @include span-columns(4)
  background: $flat-navy
  margin: 0em auto 1.5em
  text-align: center
  Padding: 0 0 0.6em

  nav
    width: 70%
    margin: 0 auto
    padding: 0
    text-align: center
    border-top: 0.1em solid $gray
    @media (min-width: 30em)
      max-width: 50%

  .index-sections-nav-link
    font:
      family: 'open sans', 'lato','Montserrat', sans-serif
      //weight: 700
      weight: 700
      size: 0.5em
    margin: 0 0.1em
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $action-color
    background: transparentize($flat-navy,0.6)
    border-bottom: 0.1em dashed $light-gray
    border-left: 0.1em dashed $light-gray
    border-right: 0.1em dashed $light-gray
    border-color: $gray

    display: inline-block
    outline: none
    padding: ($base-spacing / 4)
    padding: 2em 1em 1em
    text-decoration: none

    &:hover
      background: transparentize($white,0.8)

h3.section-header, .section-footer, .post-date, .post-category, .post-duration
  margin: 0 auto
  font:
    family: 'open sans', 'lato','Montserrat', sans-serif
    //weight: 700
    weight: 900
    size: 60%
  letter-spacing: 0.1em
  text-align: center
  text-transform: uppercase
  color: $site-dark-gray
  //color: $fivethirtyeight-graybrown-exdesat
  //color: hsla(34, 12%, 54%, 0.9)

h3.section-header
  width: 70%
  margin: 1em auto 0
  padding: 3em 0 1em
  letter-spacing: 0.15em
  //border-top: 0.1em solid #eee
  span
    color: $fivethirtyeight-orange
    font-size: 1em
    margin-left: 0.3em
    margin-right: 0.3em

.section-footer
  display: flex
  flex-direction: column
  margin: 0 auto
  //margin: 1em auto 1em
  padding: 1em 0 5em
  letter-spacing: 0.06em
  font:
    weight: 700
    size: 55%
  border-bottom: 0.1em solid #eee

  .footer-nav, .share-toolbox
    width: 100%
    margin-bottom: 0.4em
  .index-sections-nav-link
    color: $slack
    border-color: #888
  .section-footer-archive span
    padding: 0 0.6em

//#posts, #infographics
  p
    color: $base-font-color
    //line-height: $base-line-height
      &:last-of-type
        margin-bottom: 2em

  @include media($large-screen)
    @include span-columns(8)


#hero, #posts, #quotes, #infographics
  li
    margin: 0 auto
    padding: 0 0.1em 1.4em

    &:before
      content: none
      padding: 0
      color: none

#posts, #infographics, #manifesto
  max-width: 52em
  .posts-wrapper, .post
    margin: 0 auto
    text-align: center
    list-style-type: none
  li
    &:before
      content: ""
    background: rgba(252, 252, 252, 1)
  .post-thumbnail
    //display: inline-block
    padding: 0.1em 0.2em
    margin: 0 auto
    border-bottom: none
  .post-header
    margin: 0 auto
    padding: 0.1em 0
    text-align: left
    //border-bottom: 0.1em solid #eee
    a
      display: inline-block
      padding: 0 0.2em
      margin: 0 auto
      text-decoration: none
      border-bottom: none
    .post-title, .post-subtitle
      margin: 0 auto
      text-align: left
      padding: 0 0 0.1em
      line-height: 1.2
      border-bottom: none
    .post-title
      font-size: 1.6em
      padding-top: 0.2em
    .post-subtitle
      font-size: 1.2em
      margin-left: 0.4em
      padding-bottom: 0.3em
      font-weight: 400
  .post-excerpt
    line-height: 1.2
    text-align: left
    color: #333
    font:
      size: 0.9em
      //family: $font-stack-lucida-grande
      weight: 300
      //style: italic
    margin: 0 auto
    padding: 0.2em 0.4em 0.2em
    border-top: 0.1em solid transparentize(#ddd, 0.6)
    border-bottom: 0.1em solid transparentize(#ddd, 0.6)
    //letter-spacing: 0.01em
  .post-meta
    margin: 0
    //border-top: 0.1em solid transparentize(#ddd, 0.6)
    //border-bottom: 0.1em solid transparentize(#ddd, 0.8)
    padding: 0.3em
    padding: 0
    font:
      size: 0.7em
    color: $gray
    text-transform: uppercase
    text-align: left
    span
      padding: 0 3.5em 0 1em
      font-weight: 700
      letter-spacing: 0.02em
      color: rgba(0,0,0,0.2)

#posts article
  text-align: left
  margin: 0 auto
  padding: 1.5em 0.2em 2em
  max-width: 40rem
  .post-header
    border-bottom: 0.1em solid transparentize(#ddd, 0.9)
  .blog-content
    margin: 1.2em auto
    p
      text-align: left
      margin: 0 auto
      padding: 0 0.2em
      font-size: 100%
      line-height: 1.3
  .post-meta
    display: flex
    justify-content: space-between
    a
      text-decoration: none
      border-bottom: none
    .post-date
      text-align: left
      flex-grow: 3

#posts
  @media (min-width: 30em)
    .posts-wrapper
      display: flex
      flex-direction: column
      flex-wrap: wrap
      text-align: left
    .post
      width: 100%
      padding-bottom: 0
      padding-top: 1em
      //border-bottom: 0.1em solid #ddd
      display: flex
      flex-direction: row
      flex-wrap: wrap
      text-align: left
      align-items: flex-start
      //justify-content: Space-around
      //align-content: center
      .post-meta
        width: 100%
        Order: 1
        display: inline-block
        border-top: none
        text-align: right
      .post-thumbnail, .post-header h1
        padding-top: 0
      .post-thumbnail
        width: 40%
        margin: 0
        Order: 2
        @media (min-width: 40em)
          width: 50%

      .post-header
        order: 3
        width: 60%
        display: inline-block
        margin: 0
        padding-left: 0.2em
        @media (min-width: 40em)
          width: 50%
        .post-excerpt
          border-bottom: none

#infographics
  .post
    max-width: 40em
  .post-meta
    text-align: right
    border: none
    font-size: 0.6em
    letter-spacing: 0.03em
    padding-bottom: 0.2em
  .post-header
    text-align: center
    margin: 0 auto
  .post-thumbnail
    width: 100%
  //@media (min-width: 49em)
  @media (min-width: 36em)
    .posts-wrapper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      .post
        width: 50%
