<section id="infographics" class="infographics-container outer-container home">
  <h3 class="section-header">works</h3>
  <ul class="posts-wrapper">
    {% for post in site.categories.infographics limit: 4 %}
      <li class="post">
        <div class="post-meta">
          <span class="post-date">
            <i class="material-icons md-dark-inactive md-16">insert_invitation</i>
            {{ post.date | date: "%b %d %Y" }}
          </span>
        </div>
        <div class="post-header">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="post-thumbnail" src="{{ post.thumbnail | prepend: site.baseurl }}" />
          </a>
        </div>
        </li>
    {% endfor %}
  </ul>

  <div class="section-footer works">
    <div class="share-toolbox works"></div>
    <div class="footer-nav"><a class="index-sections-nav-link" href="#index-sections-nav">Back to top
      </a>
      </div>
    <div class="section-footer-archive works">
      <span class="works-archive">archived <a href="{{ "/works.html" | prepend: site.baseurl }}">works</a></span> •
      <span class="rss-subscribe works">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>
      </div>
    <div>
  </section>
