<section id="posts" class="posts-container outer-container home">

  <h3 class="section-header">#bits<span>2</span>bedside</h3>

  <ul class="posts-wrapper">
    {% for post in site.categories.blog limit: 6 %}
      <li class="post">
        <div class="post-meta">
          <span class="post-date">{{ post.date | date: "%b %d %Y" }}</span>
          <span class="post-category"> {{ post.categories }}</span>
          <span class="post-duration">
            {% assign words = content | number_of_words %}
            {% if words < 400 %}
              1 min
            {% else %}
              {{ words | divided _by: 200 }} mins
            {% endif %}
            </span>
        {% if post.author %} by @<a class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person" src="https://twitter.com/{{ post.author }}">
        <span class="author-link" itemprop="name">{{ post.author }}</span>
        {% endif %}

          </div>
        <img class="post-thumbnail" src="{{ post.thumbnail | prepend: site.baseurl }}" />

        <div class="post-header">
          <a href="{{ post.url | prepend: site.baseurl }}">
          <h1 class="post-title">{{ post.title }}</h1>
          <h2 class="post-subtitle">{{ post.subtitle }}</h2>
            </a>
          <div class="post-excerpt"> {{ post.excerpt }}</div>

          </div>

        </li>
    {% endfor %}
    </ul>

  <div class="section-footer thoughts">
    <div class="share-toolbox thoughts"></div>

    <div class="footer-nav">
      <a class="index-sections-nav-link" href="#index-sections-nav">Back to top</a>
      </div>

    <div class="section-footer-archive works">
      <span class="works-archive">archives <a href="{{ "/works.html" | prepend: site.baseurl }}">works</a></span> •
      <span class="rss-subscribe works">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>
      </div>
    </div>
  </section>
