.site-wrapper
    header
        //display: flex
        //flex-direction: row
        width: 100%
        background: pink
        padding: 1vw 1vw
        color: $expresso

        .logo
            +hide-text
            background:
                image: url(/assets/img/logos/jmbox275.png)
                repeat: no-repeat
                position: center
                size: contain
                color: $expresso60
            padding: 0
            margin: 0

        .text
            color: blue
            background: $expresso20

    nav
        Width: 100%
        background: Honeydew
        .menu
            ul
                list-style: none
                margin: 2vw 0
                padding: 0 2vw 0 0
                text-align: right
        .connect
            background: $gray-text
            .box
                background: $white
                width: 5vw
                height: 5vw
                border: 1vw dashed black
            .f
                border-color: $color-f
            .i
                border-color: $color-i
            .t
                border-color: $color-t
        .search
            background: $white
            width: 4vw
            height: 4vw
            border: 0.5vw solid black
//@media (min-width: 415px)
    .site-wrapper header
        //display: flex
        //Flex-direction: column
        width: 15vw
        height: 100%
