<!-- amp ads @ https://github.com/ampproject/amphtml/blob/master/ads/README.md -->
<section class="ad amazon">
  <amp-ad width="728"
          height="90"
          type="a9"
          data-aax_size="728x90"
          data-aax_pubname="test123"
          data-aax_src="302"
          data-slot="/4119129/doesnt-exist">
    <div placeholder>
      <div class="alignleft">
        <script type="text/javascript">
          amzn_assoc_ad_type = "banner";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_placement = "assoc_banner_placement_default";
          amzn_assoc_campaigns = "primemain";
          amzn_assoc_banner_type = "category";
          amzn_assoc_p = "48";
          amzn_assoc_isresponsive = "false";
          amzn_assoc_banner_id = "1PREMK5A0BD4VB6F8Y02";
          amzn_assoc_width = "728";
          amzn_assoc_height = "90";
          amzn_assoc_tracking_id = "mcclure-20";
          amzn_assoc_linkid = "e10f13174b8524d3d6810a833a0f4c5b";
          </script>
        <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
        </div>
      </div>
    <div fallback>
      <p>ad</p>
      </div>
    </amp-ad>
  </section>
