
<section class="infographics-container home">
  <h3 class="page-header">recent works</h3>
  <div class="infographics-wrapper">
    <Img src="./assets/MDinfog/zika-spread.png" class="img-infog"></Img>
    <Img src="./assets/MDinfog/heroin/heroin--2009-14@2x.png" class="img-infog"></Img>
    <Img src="./assets/MDinfog/heroin/opiates-vs-heroin--2000-14@2x.png" class="img-infog"></Img>
    <Img src="./assets/MDinfog/heroin/post-crackdown-ALL@2x.png" class="img-infog"></Img>
    <Img src="./assets/MDinfog/heroin/heroin-proj-980x980.png" class="img-infog"></Img>
  </div>
  <hr class="section-title-rule"/>
</section>