
<section class="blog-container home tint">
  <div class="constrainer">
    .blog-desc
      img.box-JM(src="./assets/img/JMbox.png")
      .section-head #Bits 2 Bedside
        p A millennial physician's commentary on  <span>Healthcare Innovation</span> in America:
        p ...how we leverage our technological capabilities, overcome friction of the system, and innovate in pursuit of the Triple Aim
  </div>
  <div class="blogs-wrapper">
    <hr class="section-title-rule bottom"/>
  </div>
</section>