
<section class="hero-container home">
  <div class="flex-container"><img src="./assets/img/desert-journey--desat.jpg" class="hero"/>
    <div class="about-container">
      <div class="about">physician | thinker | storyteller</div>
      <div class="location">
        <p>present<span>Charlotte</span></p>
        <p>homebase <span>Chattanooga</span></p>
      </div>
      <div class="connect">
        <div class="social-container twt">twt</div>
        <div class="social-container yt">yt</div>
        <div class="social-container li">li</div>
        <div class="social-container fb">fb</div>
      </div>
    </div>
  </div>
</section>