section.hero-container.home
  .flex-container
    img.hero(src="./assets/img/desert-journey--desat.jpg")
    .about-container
      .about physician | thinker | storyteller
      .location
        p present
          span Charlotte
        p homebase 
          span Chattanooga
      .connect
        .social-container.twt twt
        .social-container.yt yt
        .social-container.li li
        .social-container.fb fb
