<!-- https://icons8.com/articles/free-icon-features/ -->
<div data-webicon="material-icons:3d-rotation" data-alt=""></div>
<div data-webicon="font-awesome:home" data-alt="home"></div>
<div data-webicon="fci:checkmark"></div>
<div data-webicon="clock"></div>
<div data-webicon="//cdn.rawgit.com/icons8/flat-color-icons/v1.0.2/svg/search.svg"></div>
<div data-webicon="calendar"></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
<script type="text/javascript" src="/bower_components/webicon/jquery-webicon.js"></script>

<script>
  $(function() {
    $(document).webicons({
      svgSet: {
        "flat-color-icons": '//cdn.rawgit.com/icons8/flat-color-icons/v1.0.2/icon-set/icons.svg'
      },
      alias: {
        fci: 'flat-color-icons'
      },
      icon: {
        clock: '//cdn.rawgit.com/icons8/flat-color-icons/v1.0.2/svg/clock.svg'
      }
    });
  });
</script>
