<section id="twitter">
  <!-- FOLLOW -->
  <div class="social-section">
    <a href="https://twitter.com/Jake_McClure" class="twitter-follow-button" data-size="small" data-show-screen-name="true" data-show-count="true">Follow • @Jake_McClure</a>
  </div>

  <div class="social-section">
    <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">For perspective on <a href="https://twitter.com/hashtag/EMRs?src=hash">#EMRs</a> and <a href="https://twitter.com/hashtag/EHRs?src=hash">#EHRs</a>: when was the last time you *bought* a 3-star app? <a href="https://twitter.com/hashtag/HITux?src=hash">#HITux</a> <a href="https://t.co/2JFKw5CQNU">pic.twitter.com/2JFKw5CQNU</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/776125179932049409">September 14, 2016</a>
      </blockquote>
  </div>

  <div class="social-section">
    <!-- JM timeline // MAKE THIS A HOVER TOOLTIP -->
    <a class="twitter-timeline" data-width="20em" data-height="16em" data-link-color="#19CF86" href="https://twitter.com/jake_mcclure">@Jake_McClure</a>
    </div>

  <div class="social-section carousel-twitter">
    <amp-carousel width="400"
      height="600"
      layout="responsive"
      type="slides"
      autoplay delay="6000">
      <amp-twitter width="400"
        height="600"
        layout="responsive"
        data-tweetid="766361377241989120">
        </amp-twitter>
      <amp-twitter width="400"
        height="600"
        layout="responsive"
        data-tweetid="772859161109491712">
        </amp-twitter>
      <amp-twitter width="400"
        height="600"
        layout="responsive"
        data-tweetid="760410092160155648">
        </amp-twitter>
      </amp-carousel>
      </div>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
