<div class="twitter-follow">
  <!-- FOLLOW -->
  <a class="twitter-follow-button" href="https://twitter.com/jake_mcclure"  data-show-count="false" data-size="large">Follow • @Jake_McClure</a>
</div>

<div class="twitter-pins">
<blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">For perspective on <a href="https://twitter.com/hashtag/EMRs?src=hash">#EMRs</a> and <a href="https://twitter.com/hashtag/EHRs?src=hash">#EHRs</a>: when was the last time you *bought* a 3-star app? <a href="https://twitter.com/hashtag/HITux?src=hash">#HITux</a> <a href="https://t.co/2JFKw5CQNU">pic.twitter.com/2JFKw5CQNU</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/776125179932049409">September 14, 2016</a>
</blockquote>

<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/UsabilityPeople">@UsabilityPeople</a> <a href="https://twitter.com/HITOutcomes">@HITOutcomes</a> Emphasis on the latter. <a href="https://twitter.com/hashtag/mHealth?src=hash">#mHealth</a> <a href="https://twitter.com/hashtag/UX?src=hash">#UX</a> dev goal: get promoted to user&#39;s
  <a href="https://twitter.com/hashtag/homescreen?src=hash">#homescreen</a> <a href="https://t.co/EDsvMIu6W8">pic.twitter.com/EDsvMIu6W8</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/766361377241989120">August 18, 2016</a>
</blockquote>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/CTrappe">@CTrappe</a> (4/4) relaying data/information to patients must be thru their preferred medium, or else we lose <a href="https://t.co/sgGW5RSHqC">https://t.co/sgGW5RSHqC</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/772859161109491712">September 5, 2016</a></blockquote>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/StanfordMedX">@StanfordMedX</a> <a href="https://twitter.com/alidiab">@alidiab</a> simplifying the accounting nuances <a href="https://t.co/HH1Qp46nu3">pic.twitter.com/HH1Qp46nu3</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/776693853432778752">September 16, 2016</a></blockquote>


<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/opioidepidemic?src=hash">#opioidepidemic</a> (1/2) do we have a pill problem? Or a heroin problem? <a href="https://t.co/CZ0xDVZp7U">pic.twitter.com/CZ0xDVZp7U</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/760067949658898432">August 1, 2016</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/opioidepidemic?src=hash">#opioidepidemic</a> (2/2) pill problem? Or heroin problem? <a href="https://t.co/VTLoznDw7g">pic.twitter.com/VTLoznDw7g</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/760068429734817792">August 1, 2016</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/opioidepidemic?src=hash">#opioidepidemic</a> <a href="https://twitter.com/hashtag/dataviz?src=hash">#dataviz</a> this is a <a href="https://twitter.com/hashtag/Heroin?src=hash">#Heroin</a> &amp; Fentanyl prblem. Haven&#39;t had large increase in <a href="https://twitter.com/hashtag/painkiller?src=hash">#painkiller</a> OD since &#39;06 <a href="https://t.co/rYFan7teH7">pic.twitter.com/rYFan7teH7</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure)
  <a href="https://twitter.com/jake_mcclure/status/760410092160155648">August 2, 2016</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!-- JM timeline -->
<div class="twitter-follow">
  <a class="twitter-timeline" data-width="320" data-height="480" data-link-color="#19CF86" href="https://twitter.com/jake_mcclure">Twitter • Follow</a>
</div>
