<section id="twitter-carousel">
  <div class="social-section carousel-twitter">
    <amp-carousel width="400"
      height="600"
      layout="responsive"
      type="slides"
      autoplay delay="6000">
      <amp-twitter width="400"
        height="600"
        layout="responsive"
        data-tweetid="766361377241989120">
        </amp-twitter>
      <amp-twitter width="400"
        height="600"
        layout="responsive"
        data-tweetid="772859161109491712">
        </amp-twitter>
      <amp-twitter width="400"
        height="600"
        layout="responsive"
        data-tweetid="760410092160155648">
        </amp-twitter>
      </amp-carousel>
      </div>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
