<div class="twitter-follow">
  <a class="twitter-follow-button"
    href="https://twitter.com/Jake_McClure" data-show-count="false" data-size="large">
  Twitter • Follow</a>
</div>
<div class="twitter-follow">
  <a class="twitter-timeline" data-width="350" data-height="250" data-link-color="#19CF86" href="https://twitter.com/Jake_McClure">over on Twitter</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<section id="twitter-timeline" class="outer-container">
  <a class="twitter-timeline" data-width="320" data-height="320" data-theme="light" data-link-color="#40b988" href="https://twitter.com/jake_mcclure">recently on twitter @Jake_McClure</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
