<section id="twitter-featured">
  <div id="featured-video" class="social-section featured">
    <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">For perspective on <a href="https://twitter.com/hashtag/EMRs?src=hash">#EMRs</a> and <a href="https://twitter.com/hashtag/EHRs?src=hash">#EHRs</a>: when was the last time you *bought* a 3-star app? <a href="https://twitter.com/hashtag/HITux?src=hash">#HITux</a> <a href="https://t.co/2JFKw5CQNU">pic.twitter.com/2JFKw5CQNU</a></p>&mdash; Jake McClure, M.D. (@jake_mcclure) <a href="https://twitter.com/jake_mcclure/status/776125179932049409">September 14, 2016</a>
      </blockquote>
  </div>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>
