<footer class="site-footer white tint-reversed">
  <!--div class="wrapper link-list text-center">
    <div class="link-list text-center"-->
      <div><div><p>designed &amp; developed by jake</p>
      <p>© 2016 • <a href="{{site.baseurl}}/index.html">Jake McClure.net</a></p>
    </div>
  </div>
</footer>
<!--      li: a(href="http://jakemcclure.net/notes") Notes-->
<!--      li.rss-subscribe a(href="{{ "/feed.xml" | prepend: site.baseurl }}") subscribe via RSS-->
<!--
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
-->
