<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600|Neuton:300,400,600,700,900|Lora:400,700' rel="stylesheet" type='text/css'>
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% seo %}

  <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Bits2Bedside">
    <meta name="twitter:creator" content="@Jake_McClure">
    <meta name="twitter:title"
      content="{% if page.title %}{{ page.title | escape }}
      {% else %}{{ site.title | escape }}
      {% endif %}">
    {% for post in site.posts %}
      <meta name="twitter:description"
        content="{{ post.excerpt | strip_html | truncatewords: 30 }}">
      <meta name="twitter:image" content="{{ post.thumbnail }}">
    {% endfor %}
  <!-- /end twitter -->

  <meta name="google-site-verification" content="bWdiUpX7hLZblwKnHcJ7weQCibsIDPqnQ-4g1pQKO9M">
  <script async="" src="//www.google-analytics.com/analytics.js"></script>

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
    }(document, "script", "twitter-wjs"));
  </script>

</head>
