<section id="hero" class="outer-container home">
  <div class="content-wrapper">

    <div class="hero-svg">
      <img class="svg" src="{{site.baseurl}}/assets/img/logos/JM-bulb.svg"/>
    </div>

    <div class="about-container">
      <div class="JM-name">
        <img class="svg" src="{{site.baseurl}}/assets/svg/JM-text.svg"/>
      </div>

      <div class="location">
        <!--img class="location" src="./assets/SVG/about-map.svg"/-->
        <p><img class="svg" src="{{site.baseurl}}/assets/svg/location.svg"/>Charlotte</p>
        <p><img class="svg" src="{{site.baseurl}}/assets/svg/home.svg"/>Chattanooga</p>
      </div>

    <div class="connect">
      <a class="social-container med" href="https://medium.com/@JakeMcClure"><img class="li" src="{{site.baseurl}}/assets/SVG/medium.svg" /></a>
      <!--a class="social-container nuzzel" href="http://nuzzel.com/jake_mcclure"><img class="li" src="./assets/IMG/logos/nuzzel.png" /></a-->
      <!--a class="social-container yt" href="https://www.youtube.com/channel/UCJ3Jimfi7ecg_I1C2MwMYWQ"><img class="li" src="{{site.baseurl}}/assets/SVG/youtube.svg" /></a-->
      <a class="social-container twt" href="https://twitter.com/Jake_McClure"><img class="li" src="{{site.baseurl}}/assets/svg/twitter-fill.svg"/></a>
      <a class="social-container li" href="https://www.linkedin.com/in/mcclurejake"><img class="li" src="{{site.baseurl}}/assets/svg/linkedin.svg" /></a>
      <!--a class="social-container ifttt" href="https://ifttt.com/p/jakemcclure/shared"><img class="li" src="./assets/SVG/IFTTT-Rx.svg" /></a-->
      <a class="social-container email" mailto="DJakeMcClureMD+site@gmail.com"><img class="li" src="{{site.baseurl}}/assets/svg/icon-email-lightgray.svg" /></a>
    </div>
      </div>
    </div>
  </section>
