<section id="hero" class="outer-container home">
  <div class="content-wrapper">

    <div class="hero-svg">
      <img class="svg" src="/assets/SVG/JM-bulb-on.svg"/>
    </div>

    <div class="about-container">
      <!--div class="JM-name">Jake
        <Span class="mcc">McClure </Span>
        <Span class="md">M.D.</Span>
      </div-->
      <div class="JM-name"><img class="svg" src="./assets/SVG/JM-text.svg"/></div>

      <!--div class="about">tech tinkerer <span>|</span> tomorrow thinker</div-->
      <div class="location">
        <p><img class="svg" src="./assets/SVG/location.svg"/>Charlotte</p>
        <p><img class="svg" src="./assets/SVG/home.svg"/>Chattanooga</p>
      </div>

      <div class="connect">
        <a class="social-container med" href="https://medium.com/@JakeMcClure"><img class="li" src="./assets/SVG/medium.svg" /></a>
        <!--a class="social-container nuzzle" href="http://nuzzel.com/jake_mcclure"><img class="li" src="./assets/IMG/logos/nuzzel.png" /></a-->
        <!--a class="social-container yt" href="https://www.youtube.com/channel/UCJ3Jimfi7ecg_I1C2MwMYWQ"><img class="li" src="./assets/SVG/youtube.svg" /></a-->
        <a class="social-container twt" href="https://twitter.com/Jake_McClure"><img class="li" src="./assets/SVG/Twitter-border.svg"/></a>
        <a class="social-container li" href="https://www.linkedin.com/in/mcclurejake"><img class="li" src="./assets/SVG/linkedin.svg" /></a>
        <!--a class="social-container ifttt" href="https://ifttt.com/p/jakemcclure/shared"><img class="li" src="./assets/SVG/IFTTT-Rx.svg" /></a-->
        <a class="social-container email" mailto="DJakeMcClureMD+site@gmail.com"><img class="li" src="./assets/SVG/email-border.svg" /></a>
      </div>
      <!--div class="about-container not-hero">
        <div class="about">
          <p>Positioned at the older end of the millennial generation, integrating modern technology into work & home life has always come second-nature. Some would call it <i>problem solving</i>, others might label it <i>workaround hacking</i>.

          <p>Semantics aside, show me a problem, and I'll find the solution.
        </div>
      </div-->
    </div>
    </div>
  </section>
