@import 'bourbon/bourbon';
@import 'syntax-highlighting';

$grey-color:    #828282;
$medium-color:  #02b875;
$text-color:    #141414;
$burnt-orange:  #cc6633;

.icon {

  > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;

    path {
      fill: $grey-color;
      }
    }
  }

amp-img {
  background-color: none;
}

.cf {
  @include clearfix;
}

$rs: 16px;

$font-serif: Georgia,Cambria,"Times New Roman",Times,'Lora', serif;
$font-sans: 'Source Sans pro','Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif;
//$font-sans: $lucida-grande;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

// Only needed for syntax highlighting
%vertical-rhythm {
  margin-bottom: $rs;
}

body {
  //background-color: rgba(245, 245, 255, 1);
  background: -webkit-radial-gradient(rgba(255,255,255,1.0), rgba(250, 250, 255,1.0));
  background: radial-gradient(rgba(255,255,255,1.0), rgba(250, 250, 255,1.0));
  //background: -webkit-linear-gradient(rgba(255,255,255,1.0), rgba(220,220,220,1.0)); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(rgba(255,255,255,1.0), rgba(220,220,220,1.0)); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(rgba(255,255,255,1.0), rgba(220,220,220,1.0)); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(rgba(255,255,255,1.0), rgba(220,220,220,1.0)); /* Standard syntax */
  //background: #555555;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: $font-sans;
  font-weight: 400;
  font-size: 100%;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 0 * 1;
  }
}

a {
  text-decoration: none;
  color: $medium-color;
  &:hover {
    border-bottom: 0.1em solid $medium-color;
  }
}

ul {
  list-style: none;
}

.outer-container {
  margin: 4em 0.5em 2em;
  text-align: left;
  padding: 0;
}

.site-header {
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: rgba(255,255,255,.8);
  transition: .5s;
  z-index:2;
  box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);

  .nav-search {
    width: 6em;
    height: 1em;
    background: #ddd;
  }

  .page-links {
    display: block;
    position: absolute;
    top: 10px;
    right: $rs;
    font-weight: 200;
    font-style: normal;
    font-size: 0.77777em;
    line-height: 30px;

    a,img {
      text-decoration: none;
      color: #999999;
      &:hover {
        color: #333333;
        border-bottom: none;
        text-decoration: none;
      }
    }
  }

  &.hide {
    transform: translateX(-50%) translateY(-100%);
    }

  nav {
    max-width: 44em;
    margin: 0.2em auto;
    z-index: 3;
    .name {
      > amp-img {
        margin: 0 auto;
        padding: 0;
        width: 65%;
        max-width: 20em;
        &:hover {
          text-decoration: none;
          border: none;
        }
      }
    }
  }
}

#about {
  position: relative;
  text-align: center;
  margin: 4em auto 2em;
  font-family: $font-sans;
  font-weight: 300;
  //background: None;
  //color: #ffffff;
  .logo {
    display: inline-block;
    width: 40%;
    max-width: 8em;
    margin-top: 2em;
    amp-img {
      margin: 0;
    }
  }
  nav {
    display: inline-block;
    text-align: left;
    ul {
      list-style-type: none;
      li {
        font-size: 80%;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        padding: 0 0 0.3em 0;
        a {
          color: #999;
          text-decoration: none;
          border: none;
          &:hover {
            background: #eee;
          }
        }
        .contact {color: #cc6633;}
      }
    }
  }

  #featured-video {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 0 1em 0;
  }

  .site-description, .JM-tagline {
    color: #777;
    font-weight: 600;
    font-size: 80%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin: 2.0em 0.6em;
  }
  .JM-tagline {
    font-size: 105%;
    color: #ccc;
  }
  .social-section {
    position: relative;
    margin: 0 auto;
  }
}

#blog-loop {
  margin: 2em auto;
  //background: -webkit-radial-gradient(rgba(255,255,255,1.0), rgba(250, 250, 255,1.0));
  //background: radial-gradient(rgba(255,255,255,1.0), rgba(250, 250, 255,1.0));

  .post-excerpt {
    font-family: $font-sans;
    color: $text-color;
    font-size: 1.0em;
    letter-spacing: 0.02em;
    line-height: 1.25;
  }
}

main {
  position: relative;
  text-align: center;
  margin: 2em auto 6em;
  max-width: 64em;
}

.blog-header {
  width: 100%;
  max-width: 48em;
  margin: 2em auto 0;
  position: relative;
  top: 0;
  @include box-sizing(border-box);

  &:hover {
    text-decoration: none;
    border-bottom: none;
  }

  .logo {
    width: 80%;
    max-width: 24em;
    text-decoration: none;
    margin: 0;

    amp-img {
      margin: 0;
    }

    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }

  .blog-title {
    display: inline-block;
    //width: 92%;
    @include box-sizing(border-box);
    margin-bottom: .2em;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0;
    border-top: 0.1em solid rgab(150,150,150,0.4);
    border-bottom: 0.1em solid rgab(150,150,150,0.4);
    font-family: $font-sans;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    //letter-spacing: 0.05em;
    outline: 0;
    line-height: 2;
    word-break: break-word;
    color: #999;
    span {
      color: #cc6633;
    }
  }

  .blog-description {
    font-size: 1.15em;
    margin: 0 0 3.25em 1.5em;
    padding: 0;
    line-height: 1.2;
    color: rgba(0,0,0,0.4);
    font-weight: 300;
  }
}

.content {
  width: 100%;
  max-width: 42em;
  margin: 1.6em auto 3em auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 0.5;
  }

  article {
    padding: 1em 0;
    border-bottom: 0.1em solid rgba(0,0,0,0.05);
    text-align: center;

    &:last-child {
      border-bottom: 0px;
    }

    .post-title, .post-excerpt, .post-content, .post-meta {
      text-align: left;
    }

    .post-title {
      letter-spacing: -0.02em;
      font-family: $font-sans;
      font-weight: 600;
      font-style: normal;
      display: block;
      font-size: 1.2em;
      line-height: 1.2;
      margin: 0 0;
      padding: 0;

      a {
        text-decoration: none;
        color: #444;
        border: none;
        &:hover {
          text-decoration: none;
          background: rgba(0,0,0,0.05);
          border-bottom: 0.08em solid #cc6633;
        }
      }
    }

    .post-excerpt {
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 1.1em;
      line-height: 1.4;
      color: #333333;
      font-family: $font-serif;
    }
    .post-meta {
      font-size: 80%;
      color: rgba(100,100,100,0.6);
      line-height: 1;
      time {
        text-transform: uppercase;
        letter-spacing: 0.04em;
      }
      a {
        color: rgba(100,100,100,0.6);
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      .link {
        display: inline-block;
        margin: 0 0 0 1em;
        padding: 0;
        //width: 2em;
        svg {
          path: #777;}
      }
    }
  }
}

.post-template .content {
  max-width: 42em;
}

.index-headline {
  border-top: 0.1em solid #dededc;
  margin: 0;
  padding: 1em 0;
  span {
    color: #b3b3b1;
    font-size: $rs / 8 * 5;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }
}

.pagination {
  text-align: center;
  padding: $rs * 1 0 0;
  font-size: $rs / 4 * 3;
  .page-number {color: rgba(0,0,0,0.6);}
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #777;
    }
  }
}

.post {
  .post-meta {
    font-family: $font-sans;
    color: #aaa;
    .post-title {
      font-weight: 600;
      font-style: normal;
      font-family: $font-sans;
      letter-spacing: -0.04em;
      font-size: 1.8em;
      line-height: 1.4;
      color: #444;
      margin-bottom: 1.4em;
    }
  }
  .author-image {
    background-image: url({{ site.baseurl }}{{site.author_image}});
    display: inline-block;
    width: 1.875em;
    height: 1.875em;
    line-height: 1.875;
    margin-right: 0.5em;
    margin-bottom: -0.625em;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px;
  }
  .post-meta-text {
    color: #aaa;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875em;
    overflow: hidden;
    font-family: $font-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .post-content {
    width: 100%;
    font-family: $font-serif;
    color: #141414;
    h1, h2, h3 {
      font-family: $font-sans;
    }
    h3, h4, h5, h6 {
      letter-spacing: -0.02em;
      font-weight: 600;
      font-style: normal;
      font-size: 1.3em;
      text-transform: uppercase;
      line-height: 1.2;
      margin-top: 3em;
      margin-bottom: 0px;
      font-family: $font-sans;
    }
    h3 {
      font-size: 2.2em;
      margin-top: 3.5em;
    }
    h2, h1 {
      letter-spacing: -0.02em;
      font-weight: 800;
      font-style: normal;
      font-size: 2.6em;
      line-height: 1.2;
      margin-top: 3.5em;
      margin-bottom: 0px;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
      padding: 5px;
      text-align:left;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-size: 1.1em;
      line-height: 1.59;
      letter-spacing: -.002em;
      margin-top: 1.875em;
      margin-bottom: 0;
      color: #141414;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
    amp-img, amp-youtube {
      margin-top: 1.875em;
    }
    social-section {
      margin: 1em auto;}
    figure {
      margin: 0;
      padding: 0 0 1.875em;
    }
    figcaption {
      font-weight: 400;
      font-style: italic;
      font-size: 1em;
      line-height: 1.3;
      color: #666665;
      outline: 0;
      z-index: 300;
      text-align: center;
    }
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 1.875em auto;
      border: 0px solid #eeeeee;
      border-top: 1px solid #eeeeee;
    }
    blockquote {
      margin: 0 0 1.875em;
      margin-left: -1.625em;
      border-left: 0.1875em solid #57ad68;
      padding-left: 1.25em;
      p {
        letter-spacing: 0.01rem;
        font-weight: 400;
        mborder-left: 0.1875em solid #57ad68;
        mpadding-left: 20px;
        mmargin-left: -26px;
        padding-bottom: 3px;
      }
    }
    ul, ol {
      padding: 0 0 1.875em;
      margin: 0;
      list-style-type: circle;
    }
    li {
      padding: 0;
      font-weight: 400;
      font-style: normal;
      font-size: 23px;
      line-height: 1.875em;
      margin-left: 1.875em;
      margin-bottom: 0.75em;
      padding-top: 2px;
      p {
        padding: 0 0 golden-ratio(1rem, 1);
      }
    }
    ol li {
      list-style-type: decimal;
    }
    .embed {
      width: 80%;
      height: auto;
      margin: 0.6em auto 1em;
      text-align: center;
    }
  }

  .bottom-teaser {
    padding: 3em 0 0 0;
    font-family: $font-sans;
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 1em 0 1em 6.25em;
      border: 0px solid #ddd;
      border-top: 0.1em solid #ddd;
    }
    .isLeft {
      float: left;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
        padding-bottom: $rs * 2;
      }
      .bio {
        margin-top: 1.125em;
        margin-bottom: 1.125em;
      }
      .username {
        margin-left: 0.25em;
        margin-right: 1.125em;
        margin-bottom: 1.125em;
      }
      .index-headline {
        padding-bottom: 2em;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #888;
          text-decoration: none;
        }
      }
      .author-image {
        display: block;
        width: 7em;
        height: 7em;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
      }
      h4 {
        font-size: 120%;
        line-height: 1.1;
        font-weight: 600;
        padding: 0;
        margin: 0;
        padding-left: 7em;
      }
      p {
        font-size: 0.9em;
        line-height: 1.3;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-left: 6.25em;
        &.published {
          color: #999999;
          margin-top: 3em;
          font-size: 60%;
          text-transform: uppercase;
          letter-spacing: 0.02em;
        }
      }
    }
    .isRight {
      float: right;
      width: 47%;
      text-align: center;
      margin: 0 auto;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
      }

      .index-headline {
        padding-bottom: 2em;
      }
      .site- {
        margin: 0 auto;
        padding: 0;
        color: #333333;
        //text-align: left;
        font-size: 0.9em;
        line-height: 1.3;
        color: #999999;
        a {
          color: #cc6633;
          text-decoration: none;
          &:hover {
            text-decoration: #888;
          }
        }
      }
    }
  }
}

.share {
  text-align: right;
  padding: 1.25em 0 0;
  color: #bbbbbb;
  font-size: 120%;
  margin-bottom: 2em;
  a {
    text-decoration: none;
    color: #bbbbbb;
    padding: 0.5em 0.25em 0 ;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333333;
    }
  }
}

.site-footer {
  margin: 0 auto 1em;
  text-align: center;
  padding: $rs * 4 0 0.2;
  width: 100%;
  z-index: -10;
  font-size: $rs / 4 * 3;
  text-align: center;
  //color: rgba(190, 190, 190,1.0);
  color: rgba(230, 230, 230,1.0);
  line-height: $rs * 1.1;
  //background: rgba(240, 240, 240,1.0);
  a {
    color: $burnt-orange;
    text-decoration: none;
    &:hover {
      color: rgba(230, 230, 230,1.0);
      background: $burnt-orange;
      text-decoration: none;
      border-bottom: none;
    }
  }

  .poweredby, .subscribe, .copyright {
    font-size: 70%;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 2em;
  }
  .copyright {
    color: #ddd;
  }
  .poweredby {
    display: block;
    padding-bottom: 1.125em;
    font-weight: 400;
    color: #555;
  }
  .copyright {
    margin-bottom: 3em;
    color: #ddd;
    a, a:hover {
      color: #ddd;
    }
  }
  amp-img:hover {
    text-decoration: none;
    border-bottom: none;
  }
}


pre,
code {
  font-size: 0.9em;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 0.5em 0.75em;
  overflow-x: scroll;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.pagination .disabled {
    opacity: 0;
}

/*---BOTTOM NAV BAR---*/
amp-social-share[type="twitter"] {
  background: $grey-color;
  background-image: url(_includes/icon-twitter.svg);
}

#bottom-nav {
  width: 100%;
  display: block;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  border-radius: 0.8em 0.8em 0 0;
  background: rgba(255,255,255,0.8);
  text-align: center;
  max-width: 32em;

  a:hover {
    text-decoration: none;
    border-bottom: none;
  }

  .logo {
    display: inline-block;
  }
  .steth, .bell {
    margin: 0 2em;
  }
  .bell {display: none; z-index: 20;}
  .steth:hover .bell {display: inline-block;}
  .tooltip {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  .icon {
    //margin-bottom: 0.2em;
    padding: 0.2em;
    margin: 0 1em;
    > svg {
      width: 1.5em;
      height: 1.5em;
      path {
        fill-color: #ccc;
      }
    }
  }
}

#bottom-nav ul  {
  align-content: center;
  width: 100%;
  line-height: 1;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  padding: 0;
}

#bottom-nav ul li {
  list-style: none;
}

#bottom-nav .social-nav a {
  color: rgba(250,250,250,0.8);
  border-radius: 25%;
  font-size: 50%;
  background: rgba(255,255,255,0.05);
  }

#bottom-nav .social-nav a:hover {
  color: #999;
  background: rgba(255,255,255,0.1);
  }

#bottom-nav {
  > svg {
    display: none;
  }}
#bottom-nav:hover {
  > svg {
    display: inline-block;
  }}

#bottom-nav .nav-bar .icon {
  > svg {
    height: 3em;
    width: auto;
    margin: 0 auto;
    path {
      fill: #999;}
  }
}

/* --- SOCIAL MEDIA ----- */

/* ------ TWITTER --- */
#featured-video .social-section {
  text-align: center;
  margin: 0 auto;
  padding-top: 0em;
  min-width: 20em;
  @include box-sizing(border-box);

  > div {
    padding: 0;
  }
}
.twitter-timeline {
  padding: 3em auto;
}
.timeline-widget .u-cf {
  display: none;
}
/* ------ FACEBOOK --- */


/* ------ ADS --- */
section.ad {
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
}
/* --- CV --- */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'source sans pro', 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
