.accordion-tabs-minimal
  $base-border-color: $light-gray !default
  $base-background-color: #fff !default
  $base-spacing: 1.33em !default
  $action-color: $medium !default
  $dark-gray: #333 !default
  $medium-screen: 40em !default
  $tab-link-color: $dark-gray
  $tab-border: 0.1em solid $base-border-color
  $tab-active-background: $base-background-color
  $tab-inactive-color: $base-background-color
  $tab-inactive-hover-color: #c0c0c0
  $tab-mode: $medium-screen

  @include clearfix
  line-height: 1.33
  padding: 1em 0 2em
  margin-bottom: $base-spacing
  padding: 0

  .tab-header-and-content
    list-style: none

    @include media($tab-mode)
      display: inline

  .tab-link
    background-color: $tab-inactive-color
    border-top: $tab-border
    color: $tab-link-color
    display: block
    padding: ($base-spacing / 2) $gutter
    text-decoration: none
    font-size: 85%
    font-family: $font-stack-lucida-grande

    @include media($tab-mode)
      border-top: 0
      display: inline-block

    &:hover
      //color: white
      background: darken($tab-active-background, 5%)

    &:focus
      outline: none

    &.is-active
      border-bottom: 0
      color: $slack

      @include media($tab-mode)
        border: $tab-border
        border-bottom-color: $tab-active-background
        margin-bottom: -1px

  .tab-content
    display: none
    padding: $base-spacing $gutter
    width: 100%

    @include media($tab-mode)
      border-top: $tab-border
      float: left
