.site-wrapper
	header
		width: 150px
		background: white
		padding: 10px 0

		.header-position
			display: flex
			flex-direction: column
			Background: white
			position: fixed
			top: 10px
			left: 0
			bottom: 10px
			//width: 150px
			//justify-content: space-between
			a
				color: $expresso
				&:hover, &:active
					color: $mocha
			.logo
				+hide-text
				max-width: 150px
				background:
					image: url(/assets/img/logos/JMbox275.png)
					repeat: no-repeat
					position: center
					size: contain
				color: $mocha
				//height: 12vw
				padding: 0
				margin: 0 0 20px
			.text
				font-family: 'Raleway', 'roboto', sans-serif
				color: $mocha
				font-size: 175%
				text-transform: lowercase
				font-weight: 100
				margin: 0 10px 50px 0
				max-width: 200px
				text-align: right

			// Desktop Nav
			.site-nav
				background: white
				ul
					list-style: none
					margin: 20px 0 30px
					padding: 0 10px 0 0
					text-align: right
					font-family: 'Raleway', sans-serif
					Font-size: 90%
					letter-spacing: 0.15rem
					text-transform: uppercase
					li
						margin-bottom: 15px
						&:last-child
							margin-bottom: 0
			.cred
				display: block
				text-align: center
				font-size: 50%
				color: rgba(200,200,200,1.0)
				padding: 0 5px
				margin: 0

			.mobile-nav-toggle
				width: 40px
				height: 2px
				background: $gray-cocoa

@media (max-width: 600px)
	.site-wrapper header
		width: auto
		padding: 20px 0

		.header-position
			width: auto
			position: relative
			top: auto
			bottom: auto
			left: auto
			flex-direction: row
			align-items: center

		.site-nav, .cred
			display: none
