/* JMmd CUSTOM STYLE */
*
	Transition: all 200ms ease-in-out
	
	h1
		font-size: 2rem
		line-height: 1.25
		
	h2
		font-size: 1.625
		/* 1.625x body copy size = 26px */
		line-height: 1.15384615
		/* 30px / 26px */

	h3 
		font-size: 1.375em
		/* 1.375x body copy size = 22px */
		line-height: 1.13636364
		/* 25px / 22px */

	h4 
		font-size: 1.125em
		/* 1.125x body copy size = 18px */
		line-height: 1.11111111

	blockquote 
		font-size: 1.25em
		/* 20px / 16px */
		line-height: 1.25
		/* 25px / 20px */
		
	
	.container-header
		Width: 50rem
		Margin: 5rem auto 2rem
		Text-align: center
		
		.header	
			Padding-bottom: 1rem
	
	.container-navbar
		width: 100%
		position: fixed
		overflow: hidden
		z-index: 5
		Box-shadow: 0 .2rem .5rem rgba(0,0,0,0.2)
		text-align: center
		top: 0		
		background-color: rgba(255,255,255,0.9)
		
		.navbar
			Ul
				Padding: 0
						
			Li
				display: inline-block
				Margin: 0 4em
				Padding: 0.61111111rem
				
	.connect
		Width: 100%
		Height: auto
		Margin-bottom: 2em
		Background: $darkbrown
		Text-align: center
		
		A
			Height: auto
		
		.social-icon
			background: none
			Padding: 0.4em 0.8em
			Margin: 0.4em 1.0em

		img.social-icon:hover 
			Border-bottom: solid 0.05em white
			
	.container-posts 
		width: 100%
		padding: 0em 1em
		height: auto
		Text-align: center
				
		.container-post
			display: inline-block
			text-align: left
			color: $darkbrown
			margin: 0em 1em
			padding: 0 0 0 0
			border: 0.2em solid $darkbrown
			width: 22em
			height: 20em
			overflow: hidden
			text-overflow: ellipsis
			
			.post-date 
				font-family: 'Helvetica', sans-serif
				font-weight: 400
				font-size: 1rem
				text-transform: lowercase
				margin: 0.5rem 0.5em 0 0.5rem
				font-style: italic
				color: $darkbrown
			
			.post-no 
				color: #564429
				font-size: 3rem
				margin: -0.6rem 0 0 0.5rem
				Font-weight: 700
				Padding: 0
			
			.post-title 
				color: $darkbrown
				font-size: 1.2rem
				Line-height: 1.2
				Margin: 0 0.5rem
				Font-weight: 700
				text-transform: uppercase
			
			.post-line 
				Width: 5rem
				Margin-left: 3em


			.post-teaser 
				color: #171819
				Margin: 0 0.5rem
				Font-size: 1.2rem
				Line-height: 1.4
			
			.post-text 
				color: #171819
				Margin: 0 0.5rem
				Font-size: 1rem
				Line-height: 1.6			