/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url(https://fonts.googleapis.com/css?family=Forum);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300italic,300,400,500,600,800,600italic);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.618em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----- FONTS ----- */
/* ----- VARIABLES ----- */
/* ----- TYPOGRAPHY ----- */
:root {
  Font-size: 18px; }
  :root body {
    Margin: 0 auto;
    line-height: 1.6;
    font-family: "News Cycle", sans-serif;
    font-weight: 400; }
  :root a {
    font-family: "Forum", cursive; }
  :root nav a {
    font-family: "Questrial", sans-serif;
    font-size: 1rem;
    Line-height: 1.2;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #13100D;
    text-decoration: none; }

/* JMmd CUSTOM STYLE */
* {
  Transition: all 200ms ease-in-out; }
  * h1 {
    font-size: 2rem;
    line-height: 1.25; }
  * h2 {
    font-size: 1.625;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */ }
  * h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */ }
  * h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111; }
  * blockquote {
    font-size: 1.25em;
    /* 20px / 16px */
    line-height: 1.25;
    /* 25px / 20px */ }
  * .container-header {
    Width: 50rem;
    Margin: 5rem auto 2rem;
    Text-align: center; }
    * .container-header .header {
      Padding-bottom: 1rem; }
  * .container-navbar {
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 5;
    Box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9); }
    * .container-navbar .navbar Ul {
      Padding: 0; }
    * .container-navbar .navbar Li {
      display: inline-block;
      Margin: 0 4em;
      Padding: 0.61111111rem; }
  * .connect {
    Width: 100%;
    Height: auto;
    Margin-bottom: 2em;
    Background: #13100D;
    Text-align: center; }
    * .connect A {
      Height: auto; }
    * .connect .social-icon {
      background: none;
      Padding: 0.4em 0.8em;
      Margin: 0.4em 1em; }
    * .connect img.social-icon:hover {
      Border-bottom: solid 0.05em white; }
  * .container-posts {
    width: 100%;
    padding: 0em 1em;
    height: auto;
    Text-align: center; }
    * .container-posts .container-post {
      display: inline-block;
      text-align: left;
      color: #13100D;
      margin: 0em 1em;
      padding: 0 0 0 0;
      border: 0.2em solid #13100D;
      width: 22em;
      height: 20em;
      overflow: hidden;
      text-overflow: ellipsis; }
      * .container-posts .container-post .post-date {
        font-family: "Helvetica", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        text-transform: lowercase;
        margin: 0.5rem 0.5em 0 0.5rem;
        font-style: italic;
        color: #13100D; }
      * .container-posts .container-post .post-no {
        color: #564429;
        font-size: 3rem;
        margin: -0.6rem 0 0 0.5rem;
        Font-weight: 700;
        Padding: 0; }
      * .container-posts .container-post .post-title {
        color: #13100D;
        font-size: 1.2rem;
        Line-height: 1.2;
        Margin: 0 0.5rem;
        Font-weight: 700;
        text-transform: uppercase; }
      * .container-posts .container-post .post-line {
        Width: 5rem;
        Margin-left: 3em; }
      * .container-posts .container-post .post-teaser {
        color: #171819;
        Margin: 0 0.5rem;
        Font-size: 1.2rem;
        Line-height: 1.4; }
      * .container-posts .container-post .post-text {
        color: #171819;
        Margin: 0 0.5rem;
        Font-size: 1rem;
        Line-height: 1.6; }
