#manifesto
  //background: #fff
  max-width: 54em

  .header-excerpt
    width: 80%
    font-size: 75%
    font-weight: 200
    line-height: 1.2
    color: $medium-gray
    padding-top: 0
    margin: 0 auto

  h2, h3, h4, h5, .vertical-tab-content-container a
    text-align: left
    margin-left: 1em
    padding: 0.8em 0 0.4em
    font:
      family: $font-stack-lucida-grande
      weight: 200
      size: 120%

  h2
    text-align: center
    font:
      size: 130%
    letter-spacing: 0.01em
    //border-top: 0.05em solid transparentize(#46484A, 0.6)
    text-decoration: none

  h3
    font:
      size: 90%
    letter-spacing: -0.02em
    color: $medium-gray
  p
    text-align: left
    line-height: 1.2
    font:
      size: 95%
      family: $font-stack-lucida-bright
      weight: 200
    color: $NEJM-dark
  &, a, li, ul
    border-color: initial
    border-style: initial
  //@import './3-modules/accordion-tabs-minimal'
  //@import './3-modules/accordion-tabs'
