<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
{% include _header.html %}
{{ content }}
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/assets/js/expandable-section.js"></script>
<script src="/assets/js/accordiontabs.js"></script>

{% include amazonaffiliate.html %}
{% include icons8.html %}
<div class="aligncenter banner-ad">
	<script type="text/javascript">
	amzn_assoc_ad_type = "banner";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_placement = "assoc_banner_placement_default";
	amzn_assoc_campaigns = "prime_day_2016";
	amzn_assoc_banner_type = "category";
	amzn_assoc_p = "26";
	amzn_assoc_isresponsive = "false";
	amzn_assoc_banner_id = "0XRT82EJZR98Y53S6E82";
	amzn_assoc_width = "468";
	amzn_assoc_height = "60";
	amzn_assoc_tracking_id = "mcclure-20";
	amzn_assoc_linkid = "b9bc25c7e1a3b0e051b843b57645ad04";
	</script>
	<script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1">
  </script>
	</div>

<div class="aligncenter banner-ad">
		 <script type="text/javascript">
				 amzn_assoc_ad_type = "banner";
	amzn_assoc_marketplace = "amazon";
	amzn_assoc_region = "US";
	amzn_assoc_placement = "assoc_banner_placement_default";
	amzn_assoc_campaigns = "gift_certificates";
	amzn_assoc_banner_type = "category";
	amzn_assoc_isresponsive = "true";
	amzn_assoc_banner_id = "1G274HKHXM7QERC7YAG2";
	amzn_assoc_tracking_id = "mcclure-20";
	amzn_assoc_linkid = "6c030745e87dc5e594a3c166e5f0b724";
		 </script>
		 <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
		</div>
</body>

</html>
