---
layout: default
---
<section id="infographics" class="posts-container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <a class="post-header" href="{{ page.url | prepend: site.baseurl }}">
      <!--div class="post-title" itemprop="name headline">{{ page.title }}</div-->
      <!--div class="post-meta">
        <span class="post-date">
          <i class="material-icons md-dark-inactive md-16">insert_invitation</i>
          {{ page.date | date: "%Y %b %d" }}
        </span>
        <span class="post-category"> </span>
        <span class="post-duration"> </span>
      </div-->
      </a>

    <img class="post-thumbnail" src="{{ post.thumbnail | prepend: site.baseurl }}" />

    <div class="post-tldr-wrapper">
      </div>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
      </div>

    <div class="section-footer works">
      <div class="share-toolbox works"></div>
      <div class="section-footer-archive works">
        <span class="works-archive">other works in the <a href="{{ "/works.html" | prepend: site.baseurl }}">archive </a></span>
        &bull;
        <span class="rss-subscribe works"> subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></span>
      </div>
      <div>

  </article>
</section>
